.item {
    background: $item-bg;
    border: 1px solid $item-border;
    margin-bottom: $space;
    padding: $space;
}

.item_message {
    color: $item-text-color;

}
.item__states-message {
    color: $item-text-color;
    font-style: italic;
    text-align: center;
    margin: 0;
}